<!DOCTYPE html>
<html>
<body>

<textarea rows="20" cols="100" name="tcfinput" form="tcfform">
<D-Spin version="0.4" xmlns="http://www.dspin.de/data">
  <MetaData xmlns="http://www.dspin.de/data/metadata"/>
  <TextCorpus lang="ee" xmlns="http://www.dspin.de/data/textcorpus">
    <text>Tere, maailm!</text>
  </TextCorpus>
</D-Spin>
</textarea>

<form action="sentences/" id="tcfform" method="POST">
  <input type="submit" value="Test" formaction="test/">
  <input type="submit" value="sentences">
  <input type="submit" value="morph_analysis">
</form>

</body>
</html>
